/*Navigation Bar*/
/*Links in Navigation*/
/*Header info*/
header {
    text-align: center;
    border: whitesmoke 2px solid;
    background-image: linear-gradient(to right, #181363, #52527e, black, #52527e, #181363);
    margin-bottom: 1em;
}
/*Body Info*/
body {
    background-image: url(images/light-abstract-spiral-wave-flower-dark-933799-pxhere.com.jpg);
    background-position: center;
    background-size: fill;
    font-family: 'Franklin Gothic Medium', 'Arial', sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: .5em;
    width: 85%;
    height: 900px;
    margin: auto;
}
main {
    background-color: #52527e;
    border: .08em solid black;
    padding: .5em;
    
}
h1{ 
    text-align: center;
    font-size: 150%;
    text-shadow: .1em .1em 0px rgb(82, 82, 82);
}
h2 {
    text-align: center;
    font-size: 170%;
}
p {
    text-align: left;
    font-size: 115%;
}

/*Gallery photo's*/
figure {
 width: 40%;
 max-width: 200px;
 display: block;
 margin: 3 auto;
 background-color: black;
 display: inline-block;
 border: 1px solid hsl(0, 0%, 0%);
}
figure img{
 width: 100%;
 height: auto;
 float: middle;
}
figure:hover {
 border: 1px solid hsl(0, 0%, 100%);
}
figcaption {
 padding: 3em 1em;
 font-size: .9em;
 text-align: center;
}
/*links*/
a{
    color: #fae900;
    text-decoration: none;
}
a:hover {
    color: #ffea00cc;
    text-decoration: underline;
}
a :visited {
    color: #fa8e00;
}
/*Other*/
/*footer info*/
footer {
 margin-top: .5em;
    padding: 1em;
 background-color: rgb(2, 2, 82);
 text-align: center;
}
footer img {
 width: 5%;
}
footer p {
 font-size: 80%;
 text-align: center;
}
footer a {
 font-size: 80%;
}
/*Sections*/
#welcome {
    background-color: #000031;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid black;
}
#art-example {
    display: inline-block;
    display: center;
}
#traditional_art {
    background-color: #000031;
    border-radius: 8px;
    padding: .5em;
    border: 2px solid black;
}
#digital_art {
    background-color: #000031;
    border-radius: 8px;
    padding: .5em;
    border: 2px solid black;
}